@charset "UTF-8";
.left{
	
	
	background-color:#585858;
	height:600px;
}
.links{
	
	color:white;
}
.sta >li{
	
	margin:10px;
	
}
.right{
	height:100%;
	
}
.fluidcontain {
	width:1300px;
	height:100%;
	
}
.maincontain{
	
	
	height:90%;
}

.navigater{
	
	margin: 0px;
	border-radius:0px; 
	
}
.btnlog{
	float:right;
	margin:0px;
	margin-top:10px;
	
}
.loginnames{
	
	float:right;
	margin:0px;
	height:50px;
	width:100px;
	margin-right:50px;
	font-size:20px ;
	background-color: #222;
	line-height: 40px;
}
.framedata{
	
	margin:0px;
	
	padding:0px;
	width:100%;
	height:600px;
	border-bottom-color: white;
	border-width: 0px;
}
.brand{
	
	color:white;
}
.blocks{
	
	color:white;
}